html {
  /* height: 100%; */
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Press Start 2P', cursive;
  background-color: black;
  height: 100%;
}

.title-screen{
  position: absolute;
  height: 500px;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: maroon;
  
}

.instructions {
  width: 600px;
  height: 150px;
  background-color: darkslategray;
  border-radius: 7px;
  text-align: center;
  display: flex;
  align-items: center;
}

p {
  margin: 5px;
}

.title{
  font-size: 33px;
  color: silver;
}

.title-controls {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid black; */
  height: 90px;

}

.title-controls button{
  border-radius: 4px;
  background-color: white;
  border: white;
  height: 30px;
  cursor: pointer;
}



.ingame-ui {
  position: absolute;
  height: 500px;
  width: 800px;
  display: flex;
  justify-content: flex-start;
}

.hero-healthbar {
  display: flex;
  justify-content: flex-start;
}

.win-screen {
  background-color: darkslategray;
  height: 500px;
  width: 800px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.lose-screen {
  background-color: maroon;
  height: 500px;
  width: 800px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hidden {
  display: none;
}

canvas {
  /* height: 600px;
  width: 900px; */
  border: 1px solid black;
  /* z-index: 50; */
}

.link-labels {
  display: flex;
  width: 220px;
  justify-content: space-between;
}

a {
  text-decoration: none;
  color: black;
}

.background {
  /* background-image: url(".sprites/stars.jpg"); */
  /* height: 100%; */
}

.stars {
  position: absolute;
  z-index: -80;
}

.restart {
  border-radius: 4px;
  background-color: white;
  border: white;
  height: 30px;
  cursor: pointer;
  position: relative;
  top: -20px;
}

.ingame-ui .ingame-toggle {
  border-radius: 4px;
  background-color: white;
  border: white;
  height: 30px;
  cursor: pointer;
  position: absolute;
  top: 530px;
  /* left: ; */
  /* justify-self: flex-end; */
}